<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.backgroundapi.mapper.ArticleMapper">

    <select id="queryMostPopular" parameterType="Integer" resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.modified_time
        FROM article ar, blog_info info
        WHERE ar.article_id = info.article_id
        ORDER BY info.likes
        LIMIT 0,#{quantity}
    </select>

    <select id="queryMostPopularPaging" parameterType="Integer" resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.modified_time
        FROM article ar, blog_info info
        WHERE ar.article_id = info.article_id
        ORDER BY info.likes
        LIMIT #{curPage},#{size}
    </select>

    <select id="queryMostPopularCount" resultType="Integer">
        SELECT count(ar.article_id)
        FROM article ar, blog_info info
        WHERE ar.article_id = info.article_id
        ORDER BY info.likes
    </select>

    <select id="queryRecent" parameterType="Integer" resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.modified_time
        FROM article ar
        ORDER BY ar.modified_time
        LIMIT 0,#{quantity}
    </select>

    <select id="searchBlog" resultType="SearchBlogVO">
        SELECT DISTINCT ar.article_id, ar.title, ar.brief_introduction, uin.author_id, uin.avatar_path, uin.nick_name, bin.pageviews, bin.likes,
        bin.collection
        FROM article ar,blog_info bin, user_info uin
        WHERE ar.author_id = uin.author_id AND bin.article_id = ar.article_id
        AND (
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.title like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.brief_introduction like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.label like concat("%",#{keyword},"%")
        </foreach>)
        LIMIT #{currentPage},#{size}
    </select>

    <select id="searchBlogCount" resultType="Integer">
        SELECT count(1)
        FROM article ar,blog_info bin, user_info uin
        WHERE ar.author_id = uin.author_id AND bin.article_id = ar.article_id
        AND (
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.title like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.brief_introduction like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.label like concat("%",#{keyword},"%")
        </foreach>)
    </select>

</mapper>
