<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.backgroundapi.mapper.ArticleMapper">

    <select id="queryMostPopular" parameterType="Integer" resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.modified_time,
                uinfo.nick_name, ar.cover_path
        FROM article ar, blog_info info, user_info uinfo
        WHERE ar.article_id = info.article_id AND ar.author_id = uinfo.author_id
        ORDER BY info.likes
        LIMIT 0,#{quantity}
    </select>

    <select id="queryMostPopularPaging" parameterType="Integer" resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.modified_time, us.nick_name, us.avatar_path
        FROM article ar, blog_info info, user_info us
        WHERE ar.article_id = info.article_id AND us.author_id = ar.author_id
        ORDER BY info.likes
        LIMIT #{curPage},#{size}
    </select>

    <select id="queryMostPopularCount" resultType="Integer">
        SELECT count(ar.article_id)
        FROM article ar, blog_info info
        WHERE ar.article_id = info.article_id
    </select>

    <select id="queryRecent" parameterType="Integer" resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.modified_time, ar.cover_path
        FROM article ar
        ORDER BY ar.modified_time
        LIMIT 0,#{quantity}
    </select>

    <select id="searchBlog" resultType="SearchBlogVO">
        SELECT DISTINCT ar.article_id, ar.title, ar.brief_introduction, uin.author_id, uin.avatar_path, uin.nick_name, bin.pageviews, bin.likes,
        bin.collection
        FROM article ar,blog_info bin, user_info uin
        WHERE ar.author_id = uin.author_id AND bin.article_id = ar.article_id
        AND (
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.title like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.brief_introduction like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.label like concat("%",#{keyword},"%")
        </foreach>)
        LIMIT #{currentPage},#{size}
    </select>

    <select id="searchBlogCount" resultType="Integer">
        SELECT count(1)
        FROM article ar,blog_info bin, user_info uin
        WHERE ar.author_id = uin.author_id AND bin.article_id = ar.article_id
        AND (
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.title like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.brief_introduction like concat("%",#{keyword},"%")
        </foreach>
        or
        <foreach collection="keywordList" open="(" separator="or" close=")" item="keyword" index="index">
            ar.label like concat("%",#{keyword},"%")
        </foreach>)
    </select>

    <select id="latestPosts" resultType="PostShowVO">
        SELECT
            art.article_id,
            art.author_id,
            art.title,
            art.brief_introduction,
            art.create_time,
            art.modified_time,
            art.deleted,
            info.nick_name,
            info.avatar_path
        FROM
            article art, user_info info
        WHERE
            art.deleted = 0
            AND art.author_id = info.author_id
        ORDER BY
            create_time DESC,
            modified_time DESC
        <if test="curPage != null &amp;&amp; curPage != -1">
            LIMIT #{curPage},#{size}
        </if>
    </select>

    <select id="latestPostsCount" resultType="Integer">
        select count(1)
        from article art, user_info info
        WHERE art.deleted = 0 AND art.author_id = info.author_id
    </select>

    <select id="mostCollection" resultType="PostShowVO">
        SELECT
            art.article_id,
            art.author_id,
            art.title,
            art.create_time,
            art.cover_path,
            info.nick_name
        FROM
            article art,
            user_info info,
            blog_info binfo
        WHERE
            art.deleted = 0
            AND art.author_id = info.author_id
            AND art.article_id = binfo.article_id
        ORDER BY
            binfo.collection DESC
        <if test="curPage != null &amp;&amp; curPage != -1">
            LIMIT #{curPage},#{size}
        </if>
    </select>

    <select id="queryPersonal"  resultType="MostPopularInfoVO">
        SELECT ar.article_id, ar.author_id, ar.title, ar.brief_introduction, ar.create_time, us.nick_name, us.avatar_path
        FROM article ar, blog_info info, user_info us
        WHERE ar.article_id = info.article_id AND us.author_id = ar.author_id AND ar.author_id = #{authorId}
        LIMIT #{curPage},#{size}
    </select>

    <select id="queryPersonalCount" resultType="Integer">
        SELECT count(article_id)
        FROM article
        WHERE author_id = #{authorId}
    </select>

    <select id="mostPageViews" resultType="PostShowVO">
        SELECT
            art.article_id,
            art.author_id,
            art.title,
            art.brief_introduction,
            art.cover_path,
            art.create_time,
            art.modified_time,
            info.nick_name,
            info.avatar_path
        FROM
            article art,
            user_info info,
            blog_info binfo
        WHERE
            art.deleted = 0
            AND art.author_id = info.author_id
            AND art.article_id = binfo.article_id
        ORDER BY
            binfo.pageviews DESC
        <if test="curPage != null &amp;&amp; curPage != -1">
            LIMIT #{curPage},#{size}
        </if>
    </select>

</mapper>
