<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.backgroundapi.mapper.SysUsersMapper">

    <select id="findEmailByUsername" resultType="com.fang.backgroundapi.typehandler.Encrypt">
        SELECT info.email
        FROM sys_users sysu, user_info info
        WHERE sysu.author_id = info.author_id AND sysu.username = #{username}
    </select>

    <update id="updatePassword">
        UPDATE sys_users SET password=#{password}, modified_time=#{modifiedTime} WHERE username=#{username}
    </update>

</mapper>
